In [1]:
import shapefile
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pp1_path = '/Users/vasilii.mosin/Desktop/Research/shapes/to_send_data/pp_1_trees_geometry.shp'
sf = shapefile.Reader(pp1_path)
fields = [x[0] for x in sf.fields[1:]]
records = sf.records()
pp1 = pd.DataFrame(data=np.array(records), columns=fields)
pp1.head()

,id_tree,OBJECTID_1,name_squar,letter,index,id_square,n_trees,specie,d,ktg,X,Y,comment,add_class
0,1,1,A1,A,1,1,1,E,32.6,1,4.7,0.3,,
1,2,2,A1,A,1,1,2,E,13.2,1,1.6,0.8,,
2,3,3,A1,A,1,1,3,E,20.2,1,4.7,2.1,,
3,4,4,A1,A,1,1,4,E,31.2,1,1.6,2.0,,
4,5,5,A1,A,1,1,5,Б,19.1,4,3.2,2.6,,

In [7]:
pp2_path = '/Users/vasilii.mosin/Desktop/Research/shapes/to_send_data/pp_2_trees_geometry.shp'
sf = shapefile.Reader(pp2_path)
fields = [x[0] for x in sf.fields[1:]]
records = sf.records()
pp2 = pd.DataFrame(data=np.array(records), columns=fields)
pp2.head()

,id_tree,OBJECTID_1,name_squar,letter,index,id_square,n_trees,ktg,specie,d,X,Y,commnet,add_class
0,1,1,A1,A,1,1,1,3,б,17.3,2.8,0.0,,
1,2,2,A1,A,1,1,2,1,е,14.9,5.7,0.6,,
2,3,3,A1,A,1,1,3,1,е,12.5,1.0,1.3,,
3,4,4,A1,A,1,1,4,1,е,31.9,4.4,1.7,,
4,5,5,A1,A,1,1,5,1,е,29.9,8.8,2.1,,

In [8]:
pp3_path = '/Users/vasilii.mosin/Desktop/Research/shapes/to_send_data/pp_3_trees_geometry.shp'
sf = shapefile.Reader(pp3_path)
fields = [x[0] for x in sf.fields[1:]]
records = sf.records()
pp3 = pd.DataFrame(data=np.array(records), columns=fields)
pp3.head()

,id_tree,OBJECTID_1,name_squar,letter,index,id_square,n_tree,ktg,specie,d,X,Y,comment,add_class
0,1,1,A1,A,1,1,1,1,El',12.3,0.4,9.6,,
1,2,2,A1,A,1,1,2,3,Bereza,22.5,1.9,9.7,,
2,3,3,A1,A,1,1,3,1,El',21.7,1.5,4.6,,
3,4,4,A1,A,1,1,4,3,El',16.1,4.3,0.5,,
4,5,5,A1,A,1,1,5,2,El',19.0,6.2,3.5,,

In [9]:
pp4_path = '/Users/vasilii.mosin/Desktop/Research/shapes/to_send_data/pp_4_trees_geometry.shp'
sf = shapefile.Reader(pp4_path)
fields = [x[0] for x in sf.fields[1:]]
records = sf.records()
pp4 = pd.DataFrame(data=np.array(records), columns=fields)
pp4.head()

,id_tree,OBJECTID_1,name_squar,letter,index,id_square,n_tree,ktg,specie,d,X,Y,comment,add_class
0,1,1,A1,A,1,1,1,1,El',28.6,2.1,0.7,,
1,2,2,A1,A,1,1,2,1,El',31.3,1.7,4.1,,
2,3,3,A1,A,1,1,3,3,Bereza,13.1,0.5,5.8,,
3,4,4,A1,A,1,1,4,1,El',24.6,1.9,8.0,,
4,5,5,A1,A,1,1,5,1,El',28.7,1.5,8.4,,

In [22]:
pp4['specie'].value_counts()

El'        528
Bereza     153
Pichta       7
Iva dre      1
Name: specie, dtype: int64